<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovelytoaster94.Dao.MajorMapper">
    <select id="allMajorInfo" resultType="com.lovelytoaster94.Pojo.Major">
        select majorNo, majorName, majorFacultiesNo AS facultyNo, facultyName
        from major,faculty
        where major.majorFacultiesNo = faculty.facultyNo
    </select>

    <update id="modifyMajorInfo" parameterType="com.lovelytoaster94.Pojo.Major">
        update major
        set majorName=#{majorName},
            majorFacultiesNo=#{facultyNo}
        where majorNo = #{majorNo}
    </update>

    <delete id="deleteMajorInfo" parameterType="String">
        delete from major
        where majorNo = #{majorNo}
    </delete>

    <select id="searchMajorInfo" parameterType="com.lovelytoaster94.Pojo.Major" resultType="com.lovelytoaster94.Pojo.Major">
        select majorNo, majorName, majorFacultiesNo AS facultyNo, facultyName
        from major,faculty
        where major.majorFacultiesNo = faculty.facultyNo
        <if test="majorNo != null">
            and majorNo = #{majorNo}
        </if>
        <if test="majorName != null">
            and majorName like "%"#{majorName}"%"
        </if>
        <if test="facultyNo != null">
            and majorFacultiesNo = #{facultyNo}
        </if>
        <if test="facultyName != null">
            and facultyName like "%"#{facultyName}"%"
        </if>
    </select>

    <insert id="addMajorInfo" parameterType="com.lovelytoaster94.Pojo.Major">
        <selectKey keyProperty="majorNo" resultType="string" order="BEFORE">
            select if(max(cast(majorNo as unsigned)) is null, '1', cast(max(cast(majorNo as unsigned)) + 1 as char)) as newId from major;
        </selectKey>
            insert into major
            (majorNo, majorName, majorFacultiesNo)
            value(#{majorNo},#{majorName},#{facultyNo});
    </insert>
</mapper>