<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovelytoaster94.Dao.StudentMapper">
    <select id="allStudentInfo" resultType="com.lovelytoaster94.Pojo.Student">
        select studentNo,
               studentName,
               studentSex,
               studentAge,
               studentClassNo AS classNo,
               className,
               majorNo,
               majorName,
               facultyNo,
               facultyName
        from student,
             faculty,
             class,
             major
        where student.studentClassNo = class.classNo
          and class.classMajorNo = major.majorNo
          and major.majorFacultiesNo = faculty.facultyNo
    </select>
    <update id="modifyStudentInfo" parameterType="com.lovelytoaster94.Pojo.Student">
        update student
        set studentName=#{studentName},
            studentSex=#{studentSex},
            studentAge=#{studentAge},
            studentClassNo=#{classNo}
        where studentNo = #{studentNo}
    </update>
    <delete id="deleteStudentInfo" parameterType="string">
        delete
        from student
        where studentNo = #{studentNo};

        delete
        from login
        where userName = #{studentNo}
    </delete>
    <select id="searchStudentInfo" parameterType="com.lovelytoaster94.Pojo.Student"
            resultType="com.lovelytoaster94.Pojo.Student">
        select studentNo,
        studentName,
        studentSex,
        studentAge,
        studentClassNo AS classNo,
        className,
        majorNo,
        majorName,
        facultyNo,
        facultyName
        from student,
        faculty,
        class,
        major
        where student.studentClassNo = class.classNo
        and class.classMajorNo = major.majorNo
        and major.majorFacultiesNo = faculty.facultyNo
        <if test="studentNo!=null">
            and studentNo=#{studentNo}
        </if>
        <if test="studentName!=null">
            and studentName like "%"#{studentName}"%"
        </if>
        <if test="studentSex!=null">
            and studentSex=#{studentSex}
        </if>
        <if test="studentAge!=0">
            and studentAge=#{studentAge}
        </if>
        <if test="classNo!=null">
            and class.classNo=#{classNo}
        </if>
        <if test="className!=null">
            and class.className=#{className}
        </if>
        <if test="majorNo!=null">
            and major.majorNo=#{majorNo}
        </if>
        <if test="majorName!=null">
            and major.majorName=#{majorName}
        </if>
        <if test="facultyNo!=null">
            and faculty.facultyNo=#{facultyNo}
        </if>
        <if test="facultyName!=null">
            and faculty.facultyName=#{facultyName}
        </if>
    </select>
    <insert id="addStudentInfo" parameterType="com.lovelytoaster94.Pojo.Student">
        <selectKey keyProperty="studentNo" resultType="string" order="BEFORE">
            select if(max(studentNo) is null, 100001, max(studentNo) + 1) as newId from student
        </selectKey>
        insert into student (studentNo,studentName,studentSex,studentAge,studentClassNo)
        value(#{studentNo},#{studentName},#{studentSex},#{studentAge},#{classNo});

        insert into login (userName, userPassword, permissions) value (#{studentNo},"123456",2)
    </insert>
</mapper>