<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovelytoaster94.Dao.TeacherMapper">
    <select id="allTeacherInfo" resultType="com.lovelytoaster94.Pojo.Teacher">
        select teacherNo,
               teacherName,
               teacherSex,
               teacherAge,
               teacherDegree,
               teacherJob,
               teacherGraduateInstitutions,
               teacherFacultiesNo as facultyNo,
               facultyName,
               email
        from teacher,
             faculty,
             login
        where teacher.teacherFacultiesNo = faculty.facultyNo
          and login.userName = teacher.teacherNo
    </select>

    <update id="modifyTeacherInfo" parameterType="com.lovelytoaster94.Pojo.Teacher">
        update teacher
        set teacherName=#{teacherName},
            teacherSex=#{teacherSex},
            teacherAge=#{teacherAge},
            teacherDegree=#{teacherDegree},
            teacherJob=#{teacherJob},
            teacherGraduateInstitutions=#{teacherGraduateInstitutions},
            teacherFacultiesNo=#{facultyNo}
        where teacherNo = #{teacherNo};

        update login
        set email=#{email}
        where userName = #{teacherNo}
    </update>

    <delete id="deleteTeacherInfo" parameterType="string">
        delete
        from teacher
        where teacherNo = #{teacherNo};

        delete
        from login
        where userName = #{teacherNo}
    </delete>

    <select id="searchTeacherInfo" parameterType="com.lovelytoaster94.Pojo.Teacher"
            resultType="com.lovelytoaster94.Pojo.Teacher">
        select teacherNo,
        teacherName,
        teacherSex,
        teacherAge,
        teacherDegree,
        teacherJob,
        teacherGraduateInstitutions,
        teacherFacultiesNo as facultyNo,
        facultyName,
        email
        from teacher,faculty,login
        where teacher.teacherFacultiesNo = faculty.facultyNo
        and login.userName = teacher.teacherNo
        <if test="teacherNo!=null">
            and teacherNo=#{teacherNo}
        </if>
        <if test="teacherName!=null">
            and teacherName like "%"#{teacherName}"%"
        </if>
        <if test="teacherSex!=null">
            and teacherSex=#{teacherSex}
        </if>
        <if test="teacherAge!=0">
            and teacherAge=#{teacherAge}
        </if>
        <if test="teacherDegree!=null">
            and teacherDegree=#{teacherDegree}
        </if>
        <if test="teacherJob!=null">
            and teacherJob=#{teacherJob}
        </if>
        <if test="teacherGraduateInstitutions!=null">
            and teacherGraduateInstitutions=#{teacherGraduateInstitutions}
        </if>
        <if test="facultyNo!=null">
            and faculty.facultyNo=#{facultyNo}
        </if>
        <if test="facultyName!=null">
            and faculty.facultyName=#{facultyName}
        </if>
        <if test="email!=null">
            and login.email=#{email}
        </if>
    </select>
    <insert id="addTeacherInfo" parameterType="com.lovelytoaster94.Pojo.Teacher">
        <selectKey keyProperty="teacherNo" resultType="string" order="BEFORE">
            select if(max(cast(teacherNo as unsigned)) is null, '100001', cast(max(cast(teacherNo as unsigned)) + 1 as
            char)) as newId from teacher;
        </selectKey>
        insert into teacher
        (teacherNo,teacherName,teacherSex,teacherAge,teacherDegree,teacherJob,teacherGraduateInstitutions,teacherFacultiesNo)
        value(#{teacherNo},#{teacherName},#{teacherSex},#{teacherAge},#{teacherDegree},#{teacherJob},#{teacherGraduateInstitutions},#{facultyNo});

        insert into login
        (userName, userPassword, permissions, email)
        value (#{teacherNo},"123456",1,#{email})
    </insert>
</mapper>