<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovelytoaster94.Dao.UserMapper">
    <select id="loginVerify" parameterType="com.lovelytoaster94.Pojo.User" resultType="com.lovelytoaster94.Pojo.User">
        SELECT *
        FROM login
        WHERE userName = #{userName}
          AND userPassword = #{userPassword}
    </select>

    <update id="setPassword" parameterType="string">
        update login
        set userPassword = #{newPassword}
        where userName = #{userName}
    </update>

    <update id="setAvatar" parameterType="string">
        update login
        set avatarName = #{avatarName}
        where userName = #{userName}
    </update>

    <update id="setEmail" parameterType="string">
        update login
        set email = #{email}
        where userName = #{userName}
    </update>

    <select id="allUserInfo" resultType="com.lovelytoaster94.Pojo.User">
        SELECT login.*,
               COALESCE(teacher.teacherName, student.studentName) AS realName
        FROM login
                 LEFT JOIN teacher ON login.userName = teacher.teacherNo
                 LEFT JOIN student ON login.userName = student.studentNo;
    </select>

    <select id="searchUserInfo" parameterType="com.lovelytoaster94.Pojo.User"
            resultType="com.lovelytoaster94.Pojo.User">
        SELECT
        login.*,
        COALESCE(teacher.teacherName, student.studentName) AS realName
        FROM login
        LEFT JOIN teacher ON login.userName = teacher.teacherNo
        LEFT JOIN student ON login.userName = student.studentNo
        <where>
            <if test="userName != null and userName != ''">
                AND login.userName LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="permissions != null">
                AND login.permissions = #{permissions}
            </if>
            <if test="email != null and email != ''">
                AND login.email = #{email}
            </if>
            <if test="realName != null and realName != ''">
                AND (
                teacher.teacherName LIKE CONCAT('%', #{realName}, '%')
                OR student.studentName LIKE CONCAT('%', #{realName}, '%')
                )
            </if>
        </where>
    </select>

    <update id="resetPassword">
        update login
        set userPassword="123456"
        where userName = #{userName}
    </update>

    <update id="setPermissions">
        update login
        set permissions = #{permissions}
        where userName = #{userName}
    </update>
</mapper>